
body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0px;
    margin: 0px;

}

.header {  
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
    
}

.header-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
    color: #E5E7EB;
}

.header-li {
    
    float: left;
    padding: 16px;
    text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

}

.main-content {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    
}
.content-one {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    
}
.textnbuttonc1 {
    margin: 30px;
    padding: 30px; 
    max-width: 500px;

}
.c1button {

    background-color: #3882F6; 
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;

}
.main-title {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0px;
    padding-bottom: 0px;
    

}
.mt-subtext {
    font-size: 18px;
    color: #E5E7EB;
    
    


}
.gorillapic {
    width: 300px;
    height: 200px;
    padding: 30px;
    margin: 30px;




}
.content-two {
    display: flex;


}
.content-three {
    display: flex;

}
.content-four {
    display: flex;
    padding-bottom: 2.5rem
}